body {
	padding: 75px;
	/* background-image: url("port-bg.jpg"); */
	background-color: #1e1e1e !important;
	width: 98%;
}

.space {
	height: 100px;
}

.space2 {
	height: 50px;
}

.header-container {
	padding: 0 150px 0 50px;
}

.name, h3, span {
	color: #b6b6b6;
}

.website-description{
	color: #b6b6b6;
}

.skills-img {
	width: 100%;
	background-size: cover;
	opacity: .5;
	transition: .3s ease;
  backface-visibility: hidden;
	display: block;
	position: relative;
}

.image-holder:hover .skills-img {
	/* color: #ffee10;
	box-shadow: 0 0 5px #ffee10;
	text-shadow: 0 0 5px #ffee10; */
	opacity: 50;
}

.middle-top {
	transition: .3s ease;
	opacity: 0;
	position: absolute;
	top: 75%;
	left: 8.5%;
	/* transform: translate(0%, -50%);
	-ms-transform: translate(-50%, -50%); */
	text-align: center;
}

.middle-bot {
	transition: .3s ease;
	opacity: 0;
	position: absolute;
	top: 85%;
	right: 8.5%;
	/* transform: translate(0%, -50%);
	-ms-transform: translate(-50%, -50%); */
	text-align: center;
}

.image-holder:hover .middle-top {
  opacity: 1;
	position: absolute;
	-webkit-animation: moving2 2s;
	animation: moving2 1s;
}

.image-holder:hover .middle-bot {
  opacity: 1;
	position: absolute;
	-webkit-animation: moving1 2s;
	animation: moving1 1s;
}
	
@-webkit-keyframes moving1 {
	from {right: 0px;}
	to {right: 8.5%;}
}

@keyframes moving1 {
	from {right: 0px;}
	to {right: 8.5%;}
}

@-webkit-keyframes moving2 {
	from {left: 0px;}
	to {left: 8.5%;}
}

@keyframes moving2 {
	from {left: 0px;}
	to {left: 8.5%;}
}

.text1, .text2 {
  color: white;
	width: 250px;
	text-align: center;
}

.text1 {
	background-color: #555d50;
	font-size: 16px;
	padding: 5px;
}

.text2 {
	background-color: #757575;
	font-size: 14px;
	padding: 3px;
}

.tech-img-holder {
	margin-left: 50px;
}

.tech-image {
	width: 50%;
	/* margin-left: 50px; */
}

.bottom-margin-10 {
	margin-bottom: 10px;
}

.progress {
	width: 100%;
}

/* PROGRESS BAR */
/* For Chrome or Safari */
progress::-webkit-progress-bar {
	background-color: #eeeeee;
}

progress::-webkit-progress-value {
	background-color: #8c8c8c !important;
}

/* For Firefox */
progress {
	background-color: #eee;
}

progress::-moz-progress-bar {
	background-color: #8c8c8c !important;
}

/* For IE10 */
progress {
	background-color: #eee;
}

progress {
	background-color: #8c8c8c;
}
/* ENDS HERE */

.padding-right-50 {
	padding-right: 50px;
}

.percentage {
	text-align: right;
}

.percentage-holder {
	margin-bottom: 20px;
}

